#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.logo {
  margin-bottom: 0.5rem; /* was likely ~1em+ by default */
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

/* .logo {
  font-size: 2.5rem;
  font-weight: bold;
} */

.gr {
  color: #00d26a;
}

.ai {
  color: #ff3b30;
}

.l {
  color: #00b14f;
}

.tec {
  color: #007bff;
}
